<mat-card>
    <mat-spinner *ngIf="isLoading"></mat-spinner>
    <form (submit) = "onLogin(loginForm)" #loginForm="ngForm" *ngIf="!isLoading">
      <mat-form-field>
        <input matInput name="email" ngModel type="email" #emailInput="ngModel"  placeholder="E-mail" required email />
        <mat-error *ngIf="email.invalid">Please enter a valid email</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput name="password" type="password" ngModel   placeholder="Password" required />
        <mat-error *ngIf="password.invalid">Please enter a valid email</mat-error>
      </mat-form-field>
      
      <button mat-raised-button color="accent" type="submit">Signup</button>
    </form>
  </mat-card>